@media all and (width < 992px) {

    /* HEADER */
    .navbar-nav .nav-link:hover::after, .navbar-nav .nav-link::after{
        transform: scaleX(0) !important;
    }

    .navbar-nav{
        text-align: end;
    }

    .dropdown-menu{
        padding: 0px 10px;
    }

    .dropdown-divider{
        margin: 2px auto;
        color: black !important;
    }

    .logo{
        width: 20vh !important;
    }

    .carousel img{
        height: 35vh;
    }


    /* FOOTER */

    .contactos{
        height: 80vh;
    }

    .facebook{
        height: 30vh;
    }

    .icon{
        width: 5vh;
    }

    .fb_icon{
        width: 6vh;
    }
    
}