@media all and (width < 992px) {

    /* HEADER */
    .navbar-nav .nav-link:hover::after, .navbar-nav .nav-link::after{
        transform: scaleX(0) !important;
    }

    .carousel img{
        height: 30vh;
    }


    /* FOOTER */

    .contactos{
        height: 80vh;
    }

    .facebook{
        height: 30vh;
    }

    .icon{
        width: 5vh;
    }

    .fb_icon{
        width: 6vh;
    }
    
}