body{
    font-family: "Inria Sans";
}



/* NAVBAR */

/* .navbar-nav *{
    border: 1px solid black;
} */

.navbar-nav > li{
    padding: 0vw 1.2vw;
}

.show {
    display: block;
}

.navbar-nav .nav-link{
    transform: translate(0vw, 0.7vw);
    position: relative;
    display: inline-block;
}


.navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 3px;
    background-color: var(--laranja);
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.dropdown-menu{
    width: 100%;
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-15px, 10px);
    border-radius: 0px;
}

.nav-link:hover, #home:hover{
    color: var(--laranja);
}

.dropdown-divider{
    border: 1px solid white;
    width: 90%;
    margin: 5% auto;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: var(--laranja);
    background-color: rgba(0, 0, 0, 0.8);
}



/* CAROUSEL */

.carousel img{
    height: 35vw;
}




/* MAIN */


.hr_main{
    border: none;
    border-top: 3px solid var(--laranja);
    opacity: 1;
    margin: auto;
    width: 5rem;
}



.quem_somos{
    background-color: rgb(251, 251, 251);
}

.quem_somos > div:nth-child(2){
    font-size: 0.8rem;
}



.slide_in {
    opacity: 0;
    transform: translateX(-100%); /* Move o elemento para fora da tela à esquerda */
    transition: transform 1s ease-out, opacity 1s ease-out; /* Controla a animação */
}

/* Quando o elemento estiver visível, ele desliza para o centro */
.slide_in.visible {
    opacity: 1;
    transform: translateX(0); /* Traz o elemento para o centro */
}

/* FOOTER */


.contactos{
    height: 30vw;
    background-image: url('../uploads/capa2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
}

.contactos > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.4);
}


/* .contactos > div > div *{
    border: 1px solid red;
} */



.icon{
    width: 12%;
    border: 3px solid white;
    padding: 0.6vw;
    border-radius: 50%;
}


.facebook{
    height: 25vw;
    background-image: url('../uploads/capa.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.2rem;
}

.facebook > div{
    background-color: rgba(0, 0, 0, 0.4);
}

/* .facebook > div > div *{
    border: 1px solid red;
} */

.fb_icon{
    width: 6%;
    border: 3px solid white;
    padding: 0.6vw;
    border-radius: 50%;
}


.nav_footer a{
    text-decoration: none;
}

.nav_footer a:hover{
    color: var(--laranja) !important;
}
