body{
    font-family: Arial, Helvetica, sans-serif;
}



/* NAVBAR */

/* .navbar-nav *{
    border: 1px solid black;
} */

.navbar-nav > li{
    padding: 0vw 1.2vw;
}

.show {
    display: block;
}

.navbar-nav .nav-link{
    transform: translate(0vw, 0.7vw);
    position: relative;
    display: inline-block;
}


.navbar-nav .nav-link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6px;
    left: 3px;
    background-color: var(--laranja);
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
}

.dropdown-menu{
    width: 100%;
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-15px, 11px);
    border-radius: 0px;
}

.nav-link:hover, #home:hover{
    color: var(--laranja);
}

.dropdown-divider{
    border: 1px solid white;
    width: 90%;
    margin: 5% auto;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: var(--laranja);
    background-color: rgba(0, 0, 0, 0.8);
}



/* CAROUSEL */

.carousel img{
    height: 35vw;
}




/* MAIN */


.hr_main{
    border: none;
    border-top: 3px solid var(--laranja);
    opacity: 1;
    margin: auto;
    width: 5rem;
}



.quem_somos{
    background-color: rgb(251, 251, 251);
}

.quem_somos > div:nth-child(2){
    font-size: 0.8rem;
}




/* FOOTER */


.contactos{
    height: 500px;
    background-image: url('../uploads/capa2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.contactos > div:nth-child(1){
    background-color: rgba(0, 0, 0, 0.4);
}


/* .contactos > div > div:nth-child(2){

} */



.icon{
    width: 12%;
    border: 3px solid white;
    padding: 0.6vw;
    border-radius: 50%;
}